/**
 * Licensed to Marvelution under one or more contributor license
 * agreements.  See the NOTICE file distributed with this work
 * for additional information regarding copyright ownership.
 * Marvelution licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file except
 * in compliance with the License.
 * You may obtain a copy of the License at
 *
 *  http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

body {
  background-color: #fff;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  margin-left: auto;
  margin-right: auto;
  background-repeat: repeat-y;
  font-size: 13px;
  padding: 0px;
}
td, select, input, li {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 12px;
  color:#333;
}
code {
  font-size: 12px;
}
a {
  text-decoration: none;
}
a:link {
  color:#003366;
}
a:visited  {
  color:#003366;
}
a:active, a:hover {
  color:#660000;
}
#legend li.externalLink {
  background: url(../images/external.png) left top no-repeat;
  padding-left: 18px;
}
a.externalLink, a.externalLink:link, a.externalLink:visited, a.externalLink:active, a.externalLink:hover {
  background: url(../images/external.png) right center no-repeat;
  padding-right: 18px;
}
#legend li.newWindow {
  background: url(../images/newwindow.png) left top no-repeat;
  padding-left: 18px;
}
a.newWindow, a.newWindow:link, a.newWindow:visited, a.newWindow:active, a.newWindow:hover {
  background: url(../images/newwindow.png) right center no-repeat;
  padding-right: 18px;
}
h2 {
  font-size: 17px;
  color: #114070;
}
h3 {
  padding: 4px 4px 4px 4px;
  color: #114070;
  border-bottom: 1px dotted #114070;
  font-weight: bold;
  font-size: 14px;
}
h4 {
  padding: 4px 4px 4px 4px;
  color: #114070;
  border-bottom: 1px dotted #114070;
  font-weight: bold;
  font-size: 13px;
}
h5 {
  padding: 4px 4px 4px 4px;
  color: #114070;
  border-bottom: 1px dotted #114070;
}
p {
  line-height: 1.3em;
  font-size: 12px;
  color: #000;
}
#breadcrumbs {
  height: 13px;
  background-image: url(../images/breadcrumbs.jpg);
  padding: 5px 10px 14px 20px;
}
* html #breadcrumbs {
  padding-bottom: 8px;
}
#leftColumn {
  margin: 10px 0 10px 0;
  border-top-color: #ccc;
  border-top-style: solid;
  border-top-width: 1px;
  border-right-color: #ccc;
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-color: #ccc;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding-right: 5px;
  padding-left: 5px;
}
#navcolumn h5 {
  font-size: smaller;
  border-bottom: 1px solid #AAA;
  color: #114070;
  padding-top: 2px;
  padding-left: 2px;
}
table {
  font-size: 10px;
  border: 1px solid #bbb;
}
table.bodyTable th {
  color: #fffff3;
  background-color: #aaa;
  font-weight: bold;
}
table.bodyTable th, table.bodyTable td {
  font-size: 11px;
}
table.bodyTable tr.a {
  background-color: #f0f0f0;
}
table.bodyTable tr.b {
  background-color: #fffff0;
}
.source {
  border: 1px solid #999;
  overflow:auto
}
dt {
  padding: 4px 4px 4px 4px;
  color: #114070;
  border-bottom: 1px dotted #114070;
  font-weight: bold;
  font-size: 12px;
}
.xright a:link, .xright a:visited, .xright a:active {
  color: #003366;
}
.xright a:hover {
  color: #660000;
}
#banner {
  height: 60px;
  background: #114070;
}
#navcolumn ul {
  margin: 5px 0 15px -0em;
}
#navcolumn ul a {
  color: #003366;
}
#navcolumn ul a:hover {
  color: #660000;
}
#intro {
  border: solid #ccc 1px;
  margin: 6px 0px 0px 0px;
  padding: 10px 40px 10px 40px;
}
.subsection {
  margin-left: 3px;
  color: #333;
}
.subsectionTitle {
  font-size: 13px;
  font-weight: bold;
  color: #666;
}
.subsection p {
  font-size: 12px;
}
#footer {
  color: #333;
  background: #f0f0f0;
}

.errormark, .warningmark, .donemark, .infomark {
  background: url(../images/icon_error_sml.gif) no-repeat;
}

.warningmark {
  background-image: url(../images/icon_warning_sml.gif);
}

.donemark {
  background-image: url(../images/icon_success_sml.gif);
}

.infomark {
  background-image: url(../images/icon_info_sml.gif);
}

